# Built output
/build/
/app/build/

# Gradle
.gradle/
local.properties
gradle.properties

# Android Studio
.idea/
*.iml
*.iws
*.ipr

# Keystore (jangan sampai ke-push)
*.jks
*.keystore

# OS files
.DS_Store
Thumbs.db

# Logs
*.log